/** @format */

.project-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 3rem;
	padding: 3rem;
	grid-auto-rows: 1fr;
	grid-auto-flow: dense;
}

@media (max-width: 1200px) {
	.project-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 900px) {
	.project-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {
	.project-grid {
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem;
		gap: 1rem;
	}
}

@media (max-width: 480px) {
	.project-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
