/** @format */

.timeline-container {
	background-color: black;
	position: fixed;
	left: 0;
	top: 60px;
	bottom: 0;
	width: 200px;
	z-index: 90;
	display: flex;
	align-items: center;
	justify-content: center;
}

.timeline-vertical {
	position: relative;
	height: 80%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.timeline-line-vertical {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: white;
}

.timeline-year-marker {
	position: absolute;
	left: 50%;
	top: calc(100% - var(--year-position));
	transform: translateY(-50%);
	width: 100%;
}

.timeline-year-label {
	color: white;
	font-size: 13px;
	font-weight: 100;
	text-align: center;
	white-space: nowrap;
	user-select: none;
}

.timeline-dot-vertical {
	position: absolute;
	top: var(--dot-position);
	width: 10px;
	height: 10px;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
}

@media (hover: hover) {
	.timeline-dot-vertical:hover {
		background-color: rgba(255, 255, 255, 0.3);
		transform: scale(1.3);
	}
}

.timeline-dot-filtered {
	opacity: 0.2;
	cursor: default;
	pointer-events: none;
}

.timeline-dot-filled-vertical {
	position: absolute;
	top: var(--dot-position);
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	z-index: 2;
	pointer-events: none;
	transition: top 0.3s ease, left 0.3s ease;
}

@media (max-width: 768px) {
	.timeline-container {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		height: 100px;
		flex-direction: row;
		z-index: 101;
	}

	.timeline-vertical {
		width: 80%;
		height: 100%;
		flex-direction: row;
	}

	.timeline-line-vertical {
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 1px;
	}

	.timeline-year-marker {
		left: var(--year-position);
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.timeline-year-label {
		font-size: 10px;
		margin-top: 25px;
	}

	.timeline-dot-vertical {
		top: 50%;
		left: var(--dot-position);
		transform: translate(-50%, -50%);
	}

	.timeline-dot-filled-vertical {
		top: 50%;
		left: var(--dot-position);
		transform: translate(-50%, -50%);
	}
}
